@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
	--font-sans: "Open Sans", sans-serif;

	--color-nidoz-50: #f8f6fc;
	--color-nidoz-100: #eeeaf9;
	--color-nidoz-200: #ddd6f4;
	--color-nidoz-300: #c2b6eb;
	--color-nidoz-400: #866ed7;
	--color-nidoz-500: #5032b8;
	--color-nidoz-600: #392484;
	--color-nidoz-700: #291a60;
	--color-nidoz-800: #180f38;
	--color-nidoz-900: #0c071c;
	--color-nidoz-950: #060410;
}
